*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    padding: 6px;
}
input {
    width: 100%;
    font-size: 1.0rem;
}
.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    border-radius: 5px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
    width: 300px;
    min-width: 300px;
    height: 280px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-right:20px ;
}

.card img{
    display: block;
    width: inherit;
    max-height: 80%;
    height: 190px;
    
}
.card p{
    
    width: 100%;
    text-align: center;
    font-weight: bold;
}